:root {
    --blue: #419efb;
    --white: #ffffff; 
    --space: white;
    --space-dark: #282c34;
    --secondary-space: #3a3f4e;
    --violet: rgb(156, 59, 248);
    --orange: rgb(249, 162, 0);
    --green: rgb(7, 62, 8);
    --green-secondary: rgb(19, 156, 21);
    --yellow: rgb(255, 255, 84);
}

.b-blue {
  background-color: var(--blue);
}

.b-orange {
  background-color: var(--orange);
}