.App-logo {
    height: 18vh;
    margin: 2rem 1rem .5rem 1rem;
    pointer-events: none;
}

.ds-border {
    background-color: rgb(255, 255, 255);
}

.form-container {
    min-height: 50vh;
    width: 90vw;
    max-width: 1200px;
    margin: 0 4rem 8rem 4rem;
    background-color: var(--whitesmoke);
}