.preview-block {
    width: 200px;
    height: 200px;
    margin: .5rem;
    padding: .25rem;
    background-color: var(--secondary-space);
    color: white;
}

.preview-block:hover {
    border-color: var(--violet);
}

.prev-title {
    display: inline-block;
    color: var(--blue);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.prev-highlight {
    display: inline-block;
    object-fit: cover;
    width: 190px;
    height: 100px;
}

.prev-desc {
    height: 44px;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.prev-info {
    display: inline-block;
    font-size: 9px;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.ds-writing-highlight {
    display: inline-block;
    object-fit: contain;
    max-width: 470px;
    max-height: 400px;
}

.tes {
    background-color: lightskyblue;
}

.tes1 {
    background-color: sandybrown;
}
